
.vs/ClefCraft/DesignTimeBuild/.dtbcache.v2
.vs/ClefCraft/FileContentIndex/02bb928a-4e4f-4a2d-9e50-15580dbd52e7.vsidx
.vs/ClefCraft/FileContentIndex/086f94ec-1a20-4b24-b129-051eb1faafd2.vsidx
.vs/ClefCraft/FileContentIndex/1da456d6-044c-4485-850e-aaca967858e0.vsidx
.vs/ClefCraft/FileContentIndex/4e645c36-b590-4eaa-9ccb-114dbd95ded5.vsidx
.vs/ClefCraft/FileContentIndex/6ecfbed8-7c9e-400b-9dac-aa61d5bdd479.vsidx
.vs/ClefCraft/FileContentIndex/a810ce2e-37c6-40be-bb47-40bd1c71c023.vsidx
.vs/ClefCraft/FileContentIndex/b5139158-0fc1-483c-9a03-db728eadf463.vsidx
.vs/ClefCraft/FileContentIndex/c10f8c32-b02b-46c7-aee2-667d793b735b.vsidx
.vs/ClefCraft/FileContentIndex/c79dcffc-697f-4c80-b206-e34928c7f914.vsidx
.vs/ClefCraft/FileContentIndex/fa022997-a078-437d-a50f-3034676f395d.vsidx
.vs/ClefCraft/v17/.suo
.vs/ClefCraft/v17/DocumentLayout.json
ClefCraft.Persistence/Migrations/20240909224506_BoardItemUpdated2.Designer.cs
/.vs
/ClefCraft.Api/obj
/ClefCraft.Application/bin
/ClefCraft.Persistence/obj
/ClefCraft.Persistence/bin
ClefCraft.Api/appsettings.json
